body {
	background-color: #ECECFF;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 20px;
	background-color: #ECECFF;
	height: 100%;
	width: 800px;
}
.header1 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
	margin-right: 00px;
	color: #0000a0;

}

.header2 {
	text-align: right;
}

.users {
	color: black;
	line-height: 2;
	color: black;
}
.form{
	color: black;
	line-height: 2;
	color: black;
}

label {
	display: block;
	line-height: 2;
}

.submit {
	display: block;
	line-height: 2;
}

.copyright {
	width: 200px;
	line-height: 4;
	margin: 0 auto;
	color: black;

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}